node_modules

/build
/public/build
.env

/prisma/data.db
/prisma/data.db-journal
/prisma/data.test.db
/prisma/data.test.db-journal

/test-results/
/playwright-report/
/playwright/.cache/

*.local.*
*.notes.*
